body{
	background-image: url('../img/wave.jpg');
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
}

#post-field{
	min-height: 80px;
	height: 80px;
	max-height: 150px;

}

#comment-field{
	min-height: 40px;
	height: 40px;
	max-height: 150px;
}

a.deco-none{
	text-decoration: none;
}

#notification-slot{
	width: 450px;
	overflow-y: auto;
	max-height: 500px;
}

